*{
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    overflow-x: hidden; /* Disable horizontal scrolling */
}
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: white;
    text-align: center;
    background:none;
}
h2{
    color: white;
    background: none;
}
ha{
    color: white;
    background: none;
    font-size: 50px;
    font-weight: bolder;
}
h3{
    color: white;
    background: none;
}
h4{
    background: none;
}
.ha{
    color: white;
    font-size: 40px;
}
#theheader {
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: flex;
    height: auto;
}

#staggamainlogo img {
    max-width: 70%;
    height: auto;
    margin-left: 42%;
}

.hamburger-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin-left:1%;
    cursor: pointer;
}

.hamburger-icon:before, .hamburger-icon:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
    left: 0;
    transition: all 0.3s ease;
}

.hamburger-icon:before {
    top: 0;
}

.hamburger-icon:after {
    bottom: 0;
}

/* Rotate lines to form an X when hovered over */
.hamburger-icon:hover:before {
    transform: rotate(45deg);
    top: 8px;
}

.hamburger-icon:hover:after {
    transform: rotate(-45deg);
    bottom: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: none;
    min-width: 200px;
    height: 100px;
    z-index: 2;
    border: none;
    outline: none;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    display: block;
}

.dropdown-content a:hover {
    background-color: #686868;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#dropdownnav {
    padding: 20px 20px;
}


#searchbar {
    height:30px;
    width: 200px;
    color: white;
    border-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    outline:none;
}

@keyframes infiniteScroll {
    from {
        transform: translateX(0) 
    }
    to {
        transform: translateX(-100%);
    }
}

.sectionImg-outdoors{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.image-scroller-container-outdoors{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: 20s infiniteScroll infinite linear;
    padding-bottom: 2%;
}

.image-scroller-container-outdoors::-webkit-scrollbar {
    height: 8px;
  }

.image-scroller-container-outdoors img{
    width: 850px;
    height: 350px;
    aspect-ratio: 2 / 3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
.outdoor{
    background-color: gray;
    color: black;
}
.outdoor-background {
    position: relative;
    width: 100%;
    height: 583px;/* Set height to fill the viewport */
    overflow: hidden;
}

.outdoor-background img {
    width: 100%;
    height: 583px;
    object-fit: cover;
}


.outdoor-container {
    display: flex;
    justify-content: center; /* Horizontally center */
    gap: 170px; /* Space between each outdoor-category */
    margin-top: -120px;
}

.outdoor-category {
    position: relative;
    align-items: center;
}

.outdoor-category img {
    width: 280px;
    height: 280px;
    display: block;
}

.shop-now a{
    text-decoration: none;
    color: white;
    width: 120px;
    background: #1071E5;
    padding: 10px;
    display: inline-block;
}
.shop-now a:hover{
    color: #1071E5;
    background: white;
}
.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background: none;
}

/* Remove default background styling */
.bottom-left h2{
    margin: 0;
    background: none; /* Remove background */
}

.stores-background {
    position: relative;
    width: 100%;
    height: 583px;/* Set height to fill the viewport */
    overflow: hidden;
}

.stores-background img {
    width: 100%;
    height: 583px;
    object-fit: cover;
}
.outdoor-kway{
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}
.outdoor-kway img{
    width:100%;
    height: auto;
}
.bottom-left-kway {
    position: absolute;
    bottom: 80px;
    left: 10px;
    color: white;
    padding: 10px;
    background: none;
}

.shop-now-container {
    display: flex; /* Use flexbox */
    background: none;
}

.shop-now {
    margin-right: 10px; /* Add spacing between the links */
}

.shop-now:last-child {
    margin-right: 0; /* Remove margin for the last link */
}

.social-footer {
    background-color:black;
    padding: 20px;
    display: flex;
    justify-content: flex-end; /* Align items to the end (right) */
    align-items: flex-end; /* Align items to the bottom */
    height: 100px; /* Adjust the height of the footer */
}

.socials {
    display: flex; /* Make the social icons container a flex container */
    align-items: center; /* Align icons to the right */
}

.socials a {
    color: white;
    margin-left: 15px; /* Add margin to create space between icons */
    font-size: 1.5em;
    transition: all .2s ease-in-out;
}

.socials a:first-child {
    margin-left: 0; /* Remove top margin for the first icon */
}

.socials a:hover {
    color: #e91e63;
    transform: scale(1.5);
}
