*{
    background-color: rgb(0, 0, 0);
}
#theheader {
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: flex;
    height: auto;
}

#staggamainlogo img {
    max-width: 70%;
    height: auto;
    margin-left: 42%;
}

#dropdownnav img {
    height:auto;
    width: 50px;
    margin-left:1%;
}

#searchbar {
    height:30px;
    width: 200px;
    color: white;
    border-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    outline:none;
}