*{
    background-color: black;
}
#theheader {
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#staggalogonav img{
    max-width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

#dropdownnav img{
    height:auto;
    width: 50px;
    margin-left:1%;
}

#test img{
    height:auto;
    width: 50px;
    margin-left:50%;
}