*{
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

#theheader {
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: flex;
    height: auto;
}

#staggamainlogo img {
    max-width: 70%;
    height: auto;
    margin-left: 42%;
}

.hamburger-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin-left:1%;
    cursor: pointer;
}

.hamburger-icon:before, .hamburger-icon:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
    left: 0;
    transition: all 0.3s ease;
}

.hamburger-icon:before {
    top: 0;
}

.hamburger-icon:after {
    bottom: 0;
}

/* Rotate lines to form an X when hovered over */
.hamburger-icon:hover:before {
    transform: rotate(45deg);
    top: 8px;
}

.hamburger-icon:hover:after {
    transform: rotate(-45deg);
    bottom: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: none;
    min-width: 200px;
    height: 100px;
    z-index: 2;
    border: none;
    outline: none;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    display: block;
}

.dropdown-content a:hover {
    background-color: #686868;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#dropdownnav {
    padding: 20px 20px;
}


#searchbar {
    height:30px;
    width: 200px;
    color: white;
    border-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    outline:none;
}
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: white;
    text-align: center;
    background:none;
}
.stores-background {
    position: relative;
    width: 100%;
    height: 583px;/* Set height to fill the viewport */
    overflow: hidden;
}

.stores-background img {
    width: 100%;
    height: 583px;
    object-fit: cover;
}

.stores-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 583px; /* Set height to fill the viewport */
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha (last value) to change the darkness */
    z-index: 1;
    
}

.store-container {
    display: flex;
    margin-top: 50px;
    margin-left: 40px;
}

.store-info {
    color: white;
    margin-right: 100px; 
    margin-left: 20px;
}

.store-info img {
    width: 250px; 
    height: 275px;
    border-radius: 12%; /* Makes the image edges round */
    border: 2px solid white; /* Add a white border */
    transition: filter 0.4s ease;
    filter: brightness(50%);
}

.store-info h2 {
    font-size: 24px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.store-details{
    width: 75%; /* Specify a width */
    margin: 0 auto;
}
.rating {
    font-size: 16px;
    color: #ffc107; /* Yellow color for rating */
    margin-bottom: 5px;
}
.store-info p{
    font-size: 14px;
}
.stores{
    background-color: gray;
    color: black;
}
.store-info img:hover {
    filter: brightness(100%);
  }